<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Breezy Weather Test Suite" verbose="1" parallel="tests" thread-count="2">

    <test name="Start application and add location">
        <classes>
            <class name="bg.appium.autotest.frontend.AddNewLocationTest">
                <methods>
                    <include name="checkSplashScreen"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>